body{
    margin:0;
    background-color: #64b9e6;
    font-family: Helvetica,"游ゴシック","Yu Gothic";
    color:#7b7b7b;
    width:100%;
}
h1,ul,li{
    margin: 0 10%;
    padding: 0;
}


h1{
    color:white;
    height: 60px;
    font-size: 30px;
    text-align: center;
}

.profile{
    text-align: center;
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 8px; 
}

.prof_list{   
    list-style-type: none;
    padding-left: 0;
    align-items: center;
}

.list_name{
    background-color: #d6eff9;
    color: #64b9e6;
    font-size: 18px;
}

.list_content{
    padding: 10px 0 20px;
    margin: 8px;    
}
